@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')


:root {
    --text-color: #9e3636;
    --background-color: #0a0a0c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    min-height: 100vh;
    background-image: url(/images/hero_edited.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.container .navbar {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav__links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    list-style: none
}

.nav__links a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}
.nav__links a:hover {
    color: #9e3636;
    transition: 0.2s all ease;
}

.navbar .logo {
    text-transform: uppercase;
    font-size: 26px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    color: white;
    
}

.container .hero__section {
    margin-top: 18%;
    margin-left: 7%;
    color: #fff;
    max-width: 620px;
}

.hero__section h1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero__section h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.hero__section button {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    width: 150px;
    height: 35px;
    background-color: #9e3636;;
    cursor: pointer;
    text-align: center;
    
}

.hero__section button:hover {
    background-color: #df6666;
    transition: all 0.2s ease;
}

.about__section {
    background-image: url(/images/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 100vh;
}

.about__section .content {
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 700px;
    margin-left: 7%;
    margin-top: 100px;
    width: 680px;
}

.content h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 36px;
}

.content span {
    color: #9e3636;
}

.content p {
   font-size: 26px;
   margin-bottom: 35px;
   padding: 25px;
   letter-spacing: 1.5px;
}

.content h2 {
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
}

.content a {
    color: #9e3636;
    font-weight: 600;
    font-size: 32px;
    text-decoration: underline;
}

.content a:hover {
    color: #e97070;
    transition: all 0.2s ease;
}

